<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-IO-GCS-Test-Suite">
    <test name="Siddhi-io-google cloud storage-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <class name="io.siddhi.extension.io.gcs.sink.TestCaseOfGCSSink"/>
            <class name="io.siddhi.extension.io.gcs.source.TestCaseOfGCSSource"/>
        </classes>
    </test>
</suite>
